*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Sentinel', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  color: #111;
  background-color: #fff;
  min-height: 100%;
}

button,
ul,
ol,
blockquote {
  margin: 0;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  resize: vertical;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

svg {
  flex-shrink: 0;
}

h1,
h2,
h3,
h4 {
  color: #1f2d3d;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

h1,
h2,
h3,
h4,
label,
button,
input[type='submit'],
mark,
.sans {
  font-family: 'Gotham Rounded', system-ui, -apple-system, BlinkMacSystemFont,
    Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

.serif {
  font-family: 'Sentinel', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

p,
ol,
ul {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  margin-top: 0;
  color: #ff4527;
}

p {
  margin: 0 0 12px;
  font-size: 1rem;
}

a {
  color: #ff4527;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #f32200;
}
